.group-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--color-table-border);
}

.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.group-table th,
.group-table td {
  border: 1px solid var(--color-table-border);
  background-color: var(--color-table-row);
  padding: 8px;
  text-align: left;
}

.group-table th {
  background-color: var(--color-table-header);
  text-align: center;
}

.group-table h3 {
  margin: 0;
}

.table-header-buttons {
  float: right;
}

.custom-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-hover-text);
}
